* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}